/* Alert Messages */
.alert {
  padding: var(--space-unit);
  border-radius: var(--radius-base);
  border: 1px solid transparent;
  color: var(--color-neutral-100);

  &.alert--success {
	background: var(--color-success);
	border-color: var(--color-success);
  }

  &.alert--error {
	background: var(--color-error);
	border-color: var(--color-error);
  }
  
  &.alert--info {
	background: var(--color-info);
	border-color: var(--color-info);
  }
}